body {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: whitesmoke;
}


.task {
	display: list-item;
}

body > header {
	padding:10px 60px 0px 60px;
}

body > main {
	padding:10px 60px 0px 60px;	
}

body > main {
	display: flex;
	flex-flow: row wrap;
}

body > footer {
	width: 100%

}

body > footer > div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
}

a, a:visited {
	color :black;
}

main > section {
	background-color: rgb(242, 242, 242);
	border: 1px solid rgb(232, 232, 232);
	box-shadow: 2px 2px rgb(241, 241,241);
	padding: 20px 10px;	
	margin:10px;
	width: 20%;
}

main > section > header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

main > section > header > h2 {
	margin: 0px;
}

main > section > header > h3 {
	margin: 0px;
	float: right;
}

ul {
	list-style-type: none;
}

main >section > ul > li {
	margin:5px 0px;
	padding:2px 2px;

}

header > h1 {
	width:50%;
}

@media (max-width: 1284px)  {
	header > h1 {
		width:100%;
	}

  	main > section {
  		width: 45%;
  	}
}

@media (max-width: 1000px)  {
	header > h1 {
		width:100%;
	}

  	main > section {
  		width: 100%;
  	}
}

